.opacity-0 {
  opacity: 0;
}
.opacity-01 {
  opacity: .1;
}
.opacity-02 {
  opacity: .2;
}
.opacity-03 {
  opacity: .3;
}
.opacity-04 {
  opacity: .4;
}
.opacity-05 {
  opacity: .5;
}
.opacity-06 {
  opacity: .6;
}
.opacity-07 {
  opacity: .7;
}
.opacity-08 {
  opacity: .8;
}
.opacity-09 {
  opacity: .9;
}
.opacity-1 {
  opacity: 1;
}
.show-on-load {
  opacity: 0;
}