.main-content-body-layout-4{
  
  .subheader{
    margin-bottom: 20px;
  }
}

.ul-inner-layout-4{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  @media (max-width: 1024px){
    max-width: 100%;
    margin: 0;
  }
  @media(max-width: 1330px){
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 1275px){
    // padding-left:1rem ;
  }
  .main-content-body-layout-4{
    width: calc(100% - 200px);

    @media (max-width: 1024px){
      margin-left: 0px;
      width: 100%;
      
    }
  }
}


